@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shippori+Mincho:wght@500&display=swap'); 
 
 /* *{
    margin:0;
    padding:0;
    border:0;
 } */
 
 body {
     font-family: 'Montserrat', sans-serif;
     font-family: 'Shippori Mincho', serif;
     color: #C57D7D;
     background-color: #252525;
     text-align: justify;
 }
  

 /* ----------------------------Menu links */

.text-underline {
    font-size: 110%;
    text-decoration: none;
    color: #C57D7D;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 5px;
    float: right;
    position: relative;
    display: inline;
}


.text-underline:hover {
    color: #F0C1B3;
    border-bottom: 1px solid #F0C1B3;
}


.icon-color {
    color: #C57D7D;
}

 /* ----------------------------Logo image */

#logo {

    float: left;
    margin-left: 4%;
    margin-top: 4%;
    
   
}

h2{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%
}

 /* ----------------------------Footer */

footer {
     height: 150px;
     font-size: 25px;  
 }


 li {
     list-style-type: none;
     text-decoration: none;
     text-align: center;
     display: inline;
     
 }

i {
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    color: #3a3a3a;
    top: 50%;
    left: 30%;
    margin-right: -50%;
    margin: 1%;
    bottom: -15px;
    text-align: center;
 }

 .whatsapp:hover {
     color: greenyellow;
 }

 .instagram:hover {
     color: red;
 }

 .facebook:hover {
     color: blue;
 }

/* ----------------------------Gallery */
.pictures {
    display: inline;
    line-height: 0;
    column-count: 1;
    column-gap: 100%;
    width: 30%;    
    height: 30%;   
    margin-top: 10%;
    margin-bottom: 50%;
}